streamlit
python-dotenv
python-docx
requests
torch
pybtex
pillow # Required for font handling in reportlab
chardet # Encoding detection library
transformers
gensim
scikit-learn
nltk  # Ensure latest version for text processing
PyPDF2
pdfkit
groq
openai
bibtexparser

# Language and Style Analysis
language-tool-python
textstat
language-tool-python
deep-translator
langdetect
gTTS
